body {
	margin: 0;
}

h1,p,h3,h4, h5,ul, li {
    font-family: 'Poppins';
    font-style: normal;
}

.screen{
    width: 100%;
    height: 100vh;
}

.navbar{
    justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	padding: 20px 145px 0 143px;
}

 .navbar, .navbar__menu, .navbar__account{
    display: flex;
} 

.navbar .logo{
    padding-right: 320.73px;
}


.navbar__menu .menu__item{
    padding-right: 30px;
}

.navbar__account{
    margin-right: 40px;
}

.btn.btn--white, .btn.btn--orange{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 110px;
}

.navbar__account__link{
    text-decoration: none;
}

.btn.btn--white .navbar__account__link{
    padding:11px 22.22px 11px 25.25px;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
    padding:11px 22.22px 11px 25.25px;
    color: #173A56;
}

.btn.btn.btn--orange .navbar__account__link{
    padding:11px 23px 11px 25px;
    line-height: 1.5px;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
}

.hero{
    display: flex;
    flex-flow: row wrap;
}

.hero .hero__item.description{
    width: 518px;
    padding-right: 61px;
}

.hero__item.image .hero__item--img{
    width: 605px;
}

.hero__container{
    margin: 83px 129.65px 111.17px 141px;
    display: flex;
    max-width:1125.35px;
    height:494.83px;
}

.hero .hero--heading{
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
}

.hero.hero--paragraph{
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
}

.hero__item__buttons{
    display: flex;
    margin-top: 45px;
    margin-bottom: 80.33px;
}
.hero__item__buttons .btn.btn--orange{
    width:175px;
    height:53px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
    padding:15px 41px 14px 41px;
    border: none;
    margin-right: 30px;
}

.hero .hero__item__link{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF9900;
    padding-top: 12px;
    text-decoration: underline;

}

.hero.hero__item .fas.fa-play {
    padding-right: 8.5px;
    text-decoration: none;
    font-size: 24px;
    color: #FF9900;
    padding-top: 12px;
}


/* SERVICES */

.services{
    /* display: flex; */
    max-width: 2211px;
    max-height:543px;
}

.services .services__body{
    display: flex;
    justify-content: space-between;
    padding: 54px 144px 117px 161px;
}
.services .services__heading{
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;
    width: 539px;
    margin-left: 435px;
}

.card{
    width: 22%;
    display: flex;
    flex-direction: row;
}

/* .card h3{
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
    padding: 30px 0 12px 0;
} */
.card .title--card{
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
    padding: 30px 0 12px 0;
}

.card__content__paragraph{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.card__content i{
    color: #ffffff;
    padding: 17px 18px 15px 18px;
    border-radius: 19px;
    font-size: 16px;
    line-height: 18px;
}

.card__icon.icon--purple i{
    background-color: #7752BE;
}


.card__icon.icon--orange i{
    background-color: #FAB005;
}
.card__icon.icon--red i{
    background-color: #F03E3D;
}
.card__icon.icon--blue i{
    background-color: #4DADF7;
}


.card__icon.icon--purple::after{
    content: "";
    display: block;
    width: 46px;
    height: 22px;
    z-index: -1;
    position: absolute;
    background: #7752BE;
    mix-blend-mode: normal;
    opacity: 0.5;
    top: 136%;
    border-radius: 2px;
}


.card__icon.icon--orange::after{
    content: "";
    display: block;
    width: 52px;
    height: 22px;
    z-index: -1;
    position: absolute;
    background: #FAB005;
    mix-blend-mode: normal;
    opacity: 0.5;
    top: 136%;
    border-radius: 2px;
}

.card__icon.icon--red::after{
    content: "";
    display: block;
    width: 52px;
    height: 22px;
    z-index: -1;
    position: absolute;
    background: #F03E3D;
    mix-blend-mode: normal;
    opacity: 0.5;
    top: 136%;
    border-radius: 2px
 
}
.card__icon.icon--blue::after{
    content: "";
    display: block;
    width: 48px;
    height: 22px;
    z-index: -1;
    position: absolute;
    background: #4DADF7;
    mix-blend-mode: normal;
    opacity: 0.5;
    top: 136%;
    border-radius: 2px;
}

.services__footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.services__footer__link{
    text-decoration: none;  
    width:175px;
    /* height:53px; */
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
    padding:16px 32px 14px 34px;
    border: none;
    margin-right: 30px;
}

/* CARDS SECTION */
.cards{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards .cards__item__body{
    margin: 120px 145.22px 0 144px;
}
.cards .cards__item__body .card__item:nth-of-type(even){
    flex-direction: row-reverse;
}


.cards .card__item__description{
    width:486px;
    padding-right: 21px;
}

.card__item__thumbnail .img--design{
    /* width: 520px; */
    padding-left: 104px;
    padding-top: 91px;
}


.card__item{
    display: flex;
}

.cards .cards.cards--title{
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
}


.cards .cards.cards--headings{
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}

.card__item__thumbnail .img--design{
    /* width: 520px;
    height: 573px; */
    padding-bottom: 104px;
  
}

.card__item:nth-of-type(1){
    /* padding-bottom: 101.69px; */
    padding-top: 120px;
}


.card__item:nth-of-type(3){
    padding-bottom: 146px;
}

.card__item.card__item--paragraph, .card__item.card__item--paragraph--title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;
    padding-bottom: 30px;
}

.card__item.card__item--paragraph--title{
    padding-bottom: 3px;
}

.cards.cards--heading, .cards.cards--title{
    padding-bottom: 12px;
}

.card__item__thumbnail.img--design_product{
    padding-right: 100px;
}

/* Marketers */

.product__list__icon i{
    padding-bottom: 30px;
    padding-right: 30px; 
    display: inline-flex;
}
.product__list__icon{
    display: inline-flex;
    padding-top: 30px;
}

.product__list__icon i::before{
    padding:12px 9px 11px 10px;
    background: #FF9900;
    border-radius: 13.8542px;
    color: #ffffff;    
}






/* footer */

.footer{
    max-width: 184.35px;
    max-height:31.97px;
    /* margin:149.63px  131px 63px  160px; */
}

.footer.logo{
    margin-right: 139.65px;
    margin-left: 160px;
}

.lists__body{
    display: flex;
}

.cards.hero--paragraph--title{
    color: red;
}

.footer__content{
    display: flex;
    text-decoration: none;
    margin-top: 102px;
    max-width: 1109px;
    max-height: 308px;
    padding-left: 126px;
}
.footer__items{
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
}

.lists__body{
    padding-left:350px;
}

.footer__lists:nth-of-type(1){
    padding-right: 129px;;
}

.footer__lists:nth-of-type(2){
    padding-right:82px;;
}

.input--email{
    margin-bottom:29px;
    max-width: 325px;
    max-height: 48px;
    padding: 10px 128px 10px 15px;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
}

footer::after{
    border-top-left-radius: 1px;
    border-top-right-radius: 2px;
    border-color: red;
}

.btn.btn--orange_footer{
    background: #FF9900;
    border-radius: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;  
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding:8px 15px 7px 15px
}
